a.navbar-brand {
    font-size: 20pt;
    background-color: #4aaaa5;
    color:#ffffff;

}

nav.navbar.navbar-default.navbar-fixed-top {
    background-color: #ffffff;
}

ul.navbar.navbar-nav {
    text-align: right;
}
a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18pt;
}

.h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/*div.text-center, footer {
    left: 0;
    bottom: 0;
    height: 60px;
    line-height: 70px;
    border-style: solid;
    border-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black
}*/

body {
    background-image: url(../images/concrete-texture.png);
}

.row {
    margin-top: 15px;
}

.carousel-caption {
    background-color: rgba(255, 255, 255, 0.8);
}